* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p {
    color: hsl(192, 100%, 9%);
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn {
    border-style: none;
    border-radius: 1rem 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, .btn {
    text-transform: capitalize;
}

li {
    color: #ffffff;
}

/* Primeira Section */
.start {
    background-color: hsl(193, 100%, 96%);
    background-image: url(img/bg-hero-desktop.svg);
}

/* Primeira Section - Logotipo e Botão */
.logo-button {
    padding: 2rem;
}

.logo, .try-it {
    width: 30%;
}

.try-it:hover {
    background-color: #e7e4e4;
}

/* Primeira Section - Texto principal e Imagem */
.text-img {
    padding: 2rem;
}

.text-button {
    width: 85%;
    padding-top: 5rem;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 0.9rem;
}

.get-started {
    width: 50%;
    background-color: hsl(322, 100%, 66%);
    color: #ffffff;
}

.get-started:hover {
    background-color: hsl(322, 96%, 72%);
}

.mockup {
    width: 100%;
}

/* Segunda Section - Boxes */
.boxes {
    width: 70%;
    height: 70rem;
    margin: auto;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box {
    width: 100%;
    padding: 3rem;
    display: flex;
    border: 1px solid hsl(193, 100%, 96%);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.text {
    width: 50%;
    padding-top: 3rem;
}

.subtitle {
    color: hsl(208, 11%, 55%);
}

.img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.grow-together, .flowing-conversation, .your-users {
    max-width: 70%;
}

/* Segunda Section - Segundo box */
.flow {
    display: flex;
    flex-direction: row-reverse;
}

.img-flow {
    width: 50%;
}

/* Terceira Section */
.end {
    width: 50%;
    height: 12rem;
    position: absolute;
    border-radius: 0.5rem;
    margin-top: 4rem;
    margin-left: 25%;
    background-color: #ffffff;
}

.get-started-2 {
    position: relative;
}

.community {
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
footer {
    margin-top: 12rem;
    background-color: hsl(192, 100%, 9%);
}

.info {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.col-list-info {
    width: 30%;
}

.local {
    list-style-image: url(img/icon-location.svg);
}

.phone {
    list-style-image: url(img/icon-phone.svg);
}

.email {
    list-style-image: url(img/icon-email.svg);
}

.local, .phone, .email {
    margin-bottom: 1rem;
}

.col-about, .col-career {
    width: 20%;
}

.about, .career {
    list-style: none;
}

.about li, .career li {
    margin-bottom: 1rem;
}

.about li:hover, .career li:hover {
    color: hsl(208, 11%, 55%);
    cursor: pointer;
    text-decoration: underline;
}

.facebook, .twitter, .instagram {
    width: 2.5rem;
    margin-right: 0.5rem;
}

.facebook:hover, .twitter:hover, .instagram:hover {
    cursor: pointer;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
}

@media (max-width: 990px) {

    /* Primeira Section */
    .logo, .try-it {
        width: 50%;
    }

    .text-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .btn {
        font-size: 1.3rem;
    }

    h1, p {
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.3rem;
    }

    .mockup {
        padding-top: 5rem;
    }

    /* Segunda Section */
    .boxes {
        height: 105rem;
    }
    
    .box {
        display: flex;
        flex-direction: column-reverse;
    }

    .text {
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.3rem;
    }

    .text, .img, .img-flow {
        width: 100%;
    }
    
    .grow-together, .your-users {
        margin: auto;
    }

    .grow-together, .flowing-conversation, .your-users {
        width: 50%;
    }

    .img-flow {
        display: flex;
        justify-content: center;
    }

    .flowing-conversation {
        width: 50%;
    }

    /* Terceira Section */
    .end {
        width: 60%;
        margin-left: 20%;
        text-align: center;
    }

    .community {
        padding: 0.5rem;
        padding-top: 2.5rem;
    }

    h3 {
        padding-bottom: 1.5rem;
    }
    
    /* Footer */
    .row-footer {
        display: flex;
        flex-direction: column;
    }

    li {
        font-size: 1.5rem;
    }

    .col-list-info, .col-about, .col-career, .col-social {
        width: 100%;
    }

    .col-list-info {
        padding-bottom: 2rem;
    }

    .col-social {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }

    .facebook, .twitter, .instagram {
        width: 10%;
    }

    .copyright {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        padding-top: 4rem;
    }

}

@media (max-width: 770px) {

    /* Primeira Section */
    .logo, .try-it {
        width: 75%;
    }

    /* Terceira Section */
    .community {
        padding-top: 2rem;
    }

    h3 {
        padding-bottom: 0;
    }
}

@media (max-width: 600px) {

    /* Primeira Section */
    .row-start {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 100%;
    }

    .col-btn {
        display: none;
    }

}