/* Fontes */
h1, h2, .btn-first, .btn-second {
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(208, 11%, 55%);
}

/* Section intro */
.intro {
    background-image: url(img/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}

/* Container 1 */
.container-1, .container-2, .title {
    padding-top: 2rem;
}

.btn-first, .btn-second {
    border-radius: 1rem;
}

.btn-first {
    width: 10rem;
}

/* Container 2 */
.container-2 {
    padding-bottom: 2rem;
}

.title {
    font-size: 2rem;
}

.subtitle {
    padding-top: 1rem;
    font-size: 0.9rem;
    color: hsl(192, 100%, 9%);
}

.btn-second {
    width: 15rem;
    background-color: hsl(322, 100%, 66%);
    color: #ffffff;
}

.col-img {
    display: flex;
    justify-content: center;
}

/* Section middle content */
.middle-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70rem;
    padding-top: 5rem;
    margin-bottom: 15rem;
}

.grow-together, .flowing-conversations, .your-users {
    width: 65%;
    height: 20rem;
    border: 1px solid hsl(193, 26%, 87%);
    margin: auto;
}

.row-grow, .row-flow, .row-users {
    padding-top: 4rem;
}

/* Flowing conversations */
.row-flow {
    display: flex;
    flex-direction: row-reverse;
}

/* Textos */
.col-text-1, .col-text-2, .col-text-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-text-2 {
    padding-right: 2rem;
}

.col-text-1, .col-text-3 {
    padding-left: 2rem;
}

.title-2 {
    font-size: 1.5rem;
}

.subtitle-2 {
    font-size: 0.8rem;
}

/* Imagens */
.col-img-2, .col-img-3, .col-img-4 {
    display: flex;
    justify-content: center
}

/* Community */
.community {
    width: 50%;
    height: 13rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    position: absolute;
    margin-top: -8rem;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: hsl(192, 100%, 9%);
}

/* Footer */
.end {
    background-color: hsl(192, 100%, 9%);;
}

.container-lists {
    padding-top: 10rem;
}

.container-lists, .copyright {
    color: #ffffff;
}

/* Contact */
.col-contact {
    width: 40%;
}

.local, .phone, .email {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.local {
    list-style-image: url(img/icon-location.svg);
}

.phone {
    list-style-image: url(img/icon-phone.svg);
}

.email {
    list-style-image: url(img/icon-email.svg);
}

/* About */
.about, .career {
    list-style: none;
}

li {
    padding-bottom: 1rem;
}

.col-about, .col-career, .col-social {
    width: 20%;
}

/* Social Media */
.facebook, .twitter, .instagram {
   width: 15%;
}


